main{
    background-color: #EEE6FD;

    .uploadpage{
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        background-color: #d2c6eb;
        padding-block: 20px;
        padding-inline: 20px;
        border-radius: 20px;
        


        .song-box{
            width: 300px;
            background-color: #EDE5FD;
            display: flex;
            justify-content: space-around;
            gap: 1rem;
            align-items: center;
            border-radius: 10px;
            flex-direction: column;
            padding-inline: 20px;
            padding-block: 15px;

            .songinputlabel{
                height: 120px;
                width: 100%;
                border-radius: 20px;
                border: 2px dashed purple;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .Filenamediv{
                font-size: 14px;
                text-align: center;
            }
        }

        form{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            width: 100%;

            select{
                padding: 8px 12px;
                border: 2px solid #F3ECFC;
                border-radius: 10px;
                font-size: 15px;
                background-color: #EDE5FD;
            }

            .uploadButton{
                width: 100%;
                padding: 7px 0;
                border-radius: 10px;
                border: none;
                font-size: 17px;
                background-color: #a876f9;
            }
        }
    }
}