*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html,#root{
  background-color: rgb(25, 25, 25);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainbox{
  border: 2px solid white;
  margin-bottom: 20px;
}

.title{
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}

.btn{
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}

.btn:active{
  scale: 0.97;
}




